@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
}

/* ######################### Main image ######################### */

.container {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.container .main_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.main_wrap h2 {
    font-size: 60px;
    margin-bottom: 20px;
}
.main_wrap p {
    font-size: 22px;
}
/* .main_wrap button {
    background: none;
    border: 2px solid darkseagreen;
    color: white;
    padding: 15px 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}
.main_wrap button:hover {
    background-color: rgb(152, 201, 156);
} */

/* ######################### Swiper ############################ */
.container {
    width: 100%;
    height: 500px;
    margin-top: 30px;
}

.swiper {
    width: 100%;
    margin: 0 auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 30px 20px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.swiper-slide:hover {
    opacity: 1;
    cursor: zoom-in;
}

.swiper-slide img {
    display: block;
    width: 200px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s;
}

.swiper-slide:hover img {
    transform: scale(1.2);
}
